  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  
}
body {
  background-color: #10141f;
}
.texte-green {
  color: green;
}

@media screen and (min-width: 375px) and (max-width: 639px) {
  .mobile-responsive {
    flex-direction: column;
    width: 100%;  
  }
  .mobile-responsive input{
    width: 100%;
  }
 
  .flex-col-nav {
    flex-direction: row;
    width: 100%;
  }
}
